@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --main-color: #ef7819;
  --black: #141215;
  --white: #fff;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
  cursor: url('../image/bone.png'), pointer;
}
::selection {
  background-color: darkred;
  color: yellow;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: var(--black);
}

html::-webkit-scrollbar-thumb {
  background: darkred;
  opacity: 0.5;
}

body {
  overflow-x: hidden;
  background-image: url('../image/spiderweb.png');
  background-position: center;
  background-repeat: repeat;
  object-fit: fill;
  background-color: #030303;
}

section {
  padding: 2rem 10%;
}

.heading {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
}

.heading span {
  color: var(--main-color);
}

.btn {
  width: 70px;
  height: 70px;
  border: solid 5px rgb(58, 56, 56);
  border-radius: 75% 15%;
  position: relative;
  transform: rotate(45deg);
  display: inline-block;
  /* padding: 0.8rem 3rem; */
  font-size: 1.7rem;
  background-image: url('../image/eye.gif');
  background-size: cover;
  background-position: center;
  object-fit: fill;
  font-weight: 500;
  background-color: var(--white);
  left: 50%;
}

.btn:before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 5px rgb(56, 53, 53);
  border-radius: 50%;
  left: 10px;
  top: 10px;
}
.btn:hover {
  background-image: url('../image/eye2.gif');
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.5rem 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 1.5rem;
  color: darkred;
  text-shadow: 2px 1px 2px yellow;
  font-weight: bolder;
  font-family: 'Nosifer', cursive;
}

.header .logo img {
  padding-right: 0.5rem;
  color: var(--main-color);
  animation: floating 3s linear infinite;
  width: 50px;
}
@keyframes floating {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}

.header .navbar a {
  color: #f68632;
  margin-top: -450px;
  font-size: 1.7rem;
  margin: 0 1rem;
}

.header .navbar a.active,
.header .navbar a:hover {
  margin-top: -450px;
  font-size: 2rem;
  font-family: 'Nosifer', cursive;
  margin: 0 1rem;
  color: darkred;
  text-shadow: 2px 1px 2px yellow;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  color: #f68632;
  margin-left: 2rem;
  cursor: pointer;
  width: 30px;
}
.header .icons a img {
  width: 40px;
  border: hidden 2px;
  border-radius: 50%;
  padding: 2px;
}

.header .icons a img:hover {
  border: outset 2px darkred;
  border-radius: 50%;
  text-shadow: 2px 1px 2px yellow;
}
.header .icons a:hover,
.header .icons div:hover {
  color: darkred;
  text-shadow: 2px 1px 2px yellow;
}

#menu-btn {
  display: none;
}

.header.active {
  padding: 2rem 9%;
  background: #222;
}

.home {
  padding: 0;
}

.home .home-slider .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-size: cover !important;
  background-position: center !important;
}
.home .home-slider .box video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  z-index: 0;
  color: red;
}
.home .home-slider .box .content {
  text-align: center;
}

.home .home-slider .box .content h3 {
  font-size: 5rem;
  color: #fff;
  transition-delay: 0.2s;
  text-shadow: 1px 1px 1px darkred;
}

.home .home-slider .box .content p {
  font-size: 3rem;
  color: #fff;
  transition-delay: 0.4s;
  padding: 1rem 0;
  text-shadow: 1px 1px 1px darkred;
}

.home .home-slider .box .content div {
  transition-delay: 0.6s;
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 1px darkred;
}

.home .home-slider .box .content > * {
  transform: translateY(2rem);
  opacity: 0;
}

.home .home-slider .swiper-slide-active .content > * {
  transform: translateY(0rem);
  opacity: 1;
}

.home .home-slider .swiper-button-next {
  right: 4rem;
  color: #fff;
  opacity: 0;
}

.home .home-slider .swiper-button-prev {
  left: 4rem;
  color: #fff;
  opacity: 0;
}

.home .home-slider .swiper-button-next:hover,
.home .home-slider .swiper-button-prev:hover {
  color: var(--main-color);
}

.home .home-slider:hover .swiper-button-next,
.home .home-slider:hover .swiper-button-prev {
  opacity: 1;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about .content {
  padding: 3rem 1rem;
  max-width: 100%;
  align-content: center;
  text-align: justify;
}

.about .content h3 {
  font-size: 3rem;
  color: var(--main-color);
}

.about .content p {
  font-size: 3rem;
  color: #fff;
  line-height: 2;
  padding: 1rem 0;
}

.game .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem 0;
}
.game .box a img {
  width: 100%;
  height: 100%;
  padding: 10rem 5rem;
}
.stories .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.stories .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.stories .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.stories .box-container .box:hover .image img {
  transform: scale(1.2);
}

.stories .box-container .box .content {
  padding: 2rem;
  background: #222;
}

.stories .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--main-color);
  line-height: 1.8;
}

.stories .box-container .box .content p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2;
}

.footer {
  background: #000;
}

.footer .rights {
  padding: 1rem;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  border-top: 0.1rem solid rgb(107, 28, 8);
  font-size: 2rem;
  color: rgb(107, 28, 8);
  text-align: center;
}

.footer .rights a {
  color: var(--main-color);
}

.footer .rights a:hover {
  font-size: 2.5rem;
  font-weight: bolder;
  color: darkred;
  text-shadow: 2px 1px 2px yellow;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.loader-container img {
  width: 35rem;
  object-fit: fill;
}

.loader-container.fade-out {
  top: -110%;
  opacity: 0;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .search-form {
    width: 90%;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-button-next,
  .home .home-slider .swiper-button-prev {
    display: none;
  }
}
