body { 
	height: 100vh;
	background: linear-gradient(#ccffe9, #e6f76a);
	display: flex;
}

#tabel-xo {
	width: 593.5px;
	height: 610px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
	border: 0.5px solid transparent;
	border-collapse: collapse;
}

#tabel-xo tr td{
	width: 200px;
	height:200px;
	border: 0.5px solid rgb(56, 53, 53);
	font-family: Helvetica;
	font-size: 60px;
	text-align: center;
}

#tabel-xo tr td:hover{
	background: rgb(231, 255, 204);
	cursor: pointer;
}

td { 
	background: rgb(204, 255, 224);
    background-clip: padding-box;
	color:#000;
}

