

:root {
    --primaryColor: rgb(236, 63, 30);
    --white: #fff;
    --black: rgba(0, 0, 0, 0.7);
    --blue2: #4e9fee;
    --yellow: #ffda5d;
    --blue: #e7f3ff;
  }
*{  box-sizing: border-box;
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  body::-webkit-scrollbar
{
   width: 15px;
   background-color: rgba(78, 158, 238, 0.238);
}
body::-webkit-scrollbar-thumb
{
   height: auto;
   background: rgba(255, 217, 93, 0.851);
   border: 5px solid transparent;
   border-radius: 5px;
}
.nav {
    height: 90px;
    width: 100%;
    background-color: var(--blue2);
    position: relative;
  }
  
  .nav .nav-header {
    display: inline;
  }
  
  .nav .nav-header .nav-title {
    display: inline-block;
    width: auto;
    height: 100%;
    color: var(--white);
    padding: 10px 10px 10px 10px;
  }
  
  .nav .nav-btn {
    display: none;
  }
  
  .nav .nav-links {
    display: inline;
    float: right;
    font-size: 28px;
  }
  
  .nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .nav .nav-links a span{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--blue2);
    color: #efefef;
  }
  
  .nav  .nav-links  a  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .nav  .nav-links a span:hover {
    color: var(--yellow);
  }
  
  .nav #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav .nav-header{
      height:auto;
    }
    .nav .nav-links a span{
      display: inline-flexbox;
      padding: 8px;
    }
    .nav .nav-btn {
      display: inline-block;
      position: absolute;
      align-items: center;
      right: 0px;
      top: 0px;
      z-index: 999;
     
     
    }
    .nav .nav-btn label {
      display: inline-block;
      width: 80px;
      height: 80px;
      padding: 25px;
      margin: 5px 5px;
      margin-bottom: 20px;
      border-radius: 50%;
    }
    .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
      background-color:  var(--primaryColor);  }
    .nav .nav-btn label span {
      display: block;
      width: 30px;
      height: 12px;
      border-top: 2px solid #eee;
    }
    .nav .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color:  var(--blue2);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 90px;
      left: 0px;
      z-index: 999;
    }
    .nav .nav-links a {
      display: flex;
      width: 100%;
    }
    .nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  footer {
    background-color: var(--blue2);
    padding: 0.7rem;
    color: var(--white);
    text-align: center;
     text-shadow: 1px 1px 1px #808080;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  .game{
    width: 100%;
    height: 100vh;

  }

.container img{
    height: 60px;
    width: 60px;
    border-radius:50%;
}


.container{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fbeaf6;
    border-radius: 6px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
                10px 10px 15px rgba(70,70,70,0.12);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.container div{
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    cursor: pointer;
}

.container div:hover{
    transform: scale(1.08);
}


.animaleName{
    height: 30px;
    width: 150px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b616a;
    background: #eaf6fb;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
}

@media screen and (max-width:900px) {
 

 .container{
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    
}

.container div{
    height: 80px;
    width: 80px;
    
}

}