body { 
	height: 100vh;
	background: linear-gradient(to right,#fbeaee, #eaf6fb);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	display: flex;
    overflow: hidden;
}
.lang {
    top: 9%;
    left: 37.2%;
    display: flex;
    position: absolute;
}
.logo {
    top: 3%;
    left: 38%;
    display: flex;
    position: absolute;
}
.home {
    top: 3%;
    left: 41%;
    display: flex;
    position: absolute;
}
.lang2 {
    top: 9%;
    left: 41%;
    display: flex;
    position: absolute;
}

.home img{
    height: 25px;
    border-radius: 50%  50%  50% 0 ;
    background-color: #B4FEE7;
    border: 1px solid purple;
    padding: 8px;
}
.lang2 img{
    height: 25px;
    border-radius: 0  50% 50% 50%;
     border: 1px solid purple;
    background-color: #B4FEE7;
    padding: 8px;
}
.lang img{
    height: 25px;
    border-radius: 50% 0 50% 50%;
     border: 1px solid purple;
    background-color: #B4FEE7;
    padding: 8px;
}
.logo img{
   width:25px;
    height: 25px;
    border-radius: 50%  50% 0 50%;
     border: 1px solid purple;
    background-color: #B4FEE7;
    padding: 8px;
}
h1{
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translateX(-50%);
    color: #755d6d;
    text-transform: uppercase;
    font-size: 25px;
}


#tabel-xo {
	width: 403.5px;
	height: 400px;
	margin: auto;
    left: 33%;
    top: 20%;
    position: absolute;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
	border: 0.5px solid transparent;
	border-collapse: collapse;
}

#tabel-xo tr td{
	width: 180px;
	height:150px;
	border: 0.5px solid rgb(56, 53, 53);
	font-family: Helvetica;
	font-size: 55px;
	text-align: center;
}

#tabel-xo tr td:hover{
	background: rgb(231, 255, 204);
	cursor: pointer;
}

td { 
	background: rgb(204, 255, 224);
    background-clip: padding-box;
	color:#000;
}

@media screen and (max-width:900px) {
 
.lang {
    top: 9%;
    left: 37.2%;
    display: flex;
    position: absolute;
}
.logo {
    top: 3%;
    left: 38%;
    display: flex;
    position: absolute;
}
.home {
    top: 3%;
    left: 41%;
}
.lang2 {
    top: 9%;
    left: 41%;
}
.home img{
    height: 15px;
}
.lang2 img{
    height: 15px;
   
}
.lang img{
    height: 15px;
    
}
.logo img{
   width:15px;
    height: 15px;
    padding: 8px;
}
h1{
    top: 5%;
    left: 50%;
    font-size: 20px;
}


#tabel-xo {
	width: 493.5px;
	height: 510px;

}

#tabel-xo tr td{
	width: 150px;
	height:150px;
	font-size: 40px;
}



}
@media screen and (max-width:700px) {
 
.lang {
    top: 9%;
    left: 20.2%;
}
.logo {
    top: 5%;
    left: 22%;
}
.home {
    top: 5%;
    left: 31%;
}
.lang2 {
    top: 9%;
    left: 31%;
}
.home img{
    height: 25px;
}
.lang2 img{
    height: 25px;
   
}
.lang img{
    height: 25px;
    
}
.logo img{
   width:25px;
    height: 25px;
}
h1{
    top: 5%;
    left: 50%;
    font-size: 20px;
}

#tabel-xo {
	width: 293.5px;
	height: 400px;
    top: 20%;
    left: 15%;
    position: absolute;

}

#tabel-xo tr td{
	width: 80px;
	height:90px;
	font-size: 30px;
}



}
@media screen and (max-width:450px) {
.lang {
    top: 9.5%;
    left: 20.2%;
    display: flex;
    position: absolute;
}
.logo {
    top: 3%;
    left: 22%;
}
.home {
    top: 3%;
    left: 31%;
}
.lang2 {
    top: 9.5%;
    left: 31%;
}
.home img{
    height: 12px;
}
.lang2 img{
    height: 12px;
   
}
.lang img{
    height: 12px;
    
}
.logo img{
   width:12px;
    height: 12px;
    padding: 8px;
}
h1{
    left: 53%;
    font-size: 20px;
}
#tabel-xo {
	width: 293.5px;
	height: 400px;
	top: 30%;
    left: 50;
    position: absolute;

}

#tabel-xo tr td{
	width: 80px;
	height:90px;
	font-size: 30px;
}

}
