
:root {
    --primaryColor: rgb(236, 63, 30);
    --white: #fff;
    --black: rgba(0, 0, 0, 0.7);
    --blue2: #4e9fee;
    --yellow: #ffda5d;
    --blue: #e7f3ff;
  }
*{  box-sizing: border-box;
    position: relative;
  }
  
  body {
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  body::-webkit-scrollbar
{
   width: 15px;
   background-color: rgba(78, 158, 238, 0.238);
}
body::-webkit-scrollbar-thumb
{
   height: auto;
   background: rgba(255, 217, 93, 0.851);
   border: 5px solid transparent;
   border-radius: 5px;
}
.nav {
    height: 90px;
    width: 100%;
    background-color: var(--blue2);
    position: relative;
  }
  
  .nav .nav-header {
    display: inline;
  }
  
  .nav .nav-header .nav-title {
    display: inline-block;
    width: auto;
    height: 100%;
    color: var(--white);
    padding: 10px 10px 10px 10px;
  }
  
  .nav .nav-btn {
    display: none;
  }
  
  .nav .nav-links {
    display: inline;
    float: right;
    font-size: 28px;
  }
  
  .nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .nav .nav-links a span{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--blue2);
    color: #efefef;
  }
  
  .nav  .nav-links  a  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .nav  .nav-links a span:hover {
    color: var(--yellow);
  }
  
  .nav #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav .nav-header{
      height:auto;
    }
    .nav .nav-links a span{
      display: inline-flexbox;
      padding: 8px;
    }
    .nav .nav-btn {
      display: inline-block;
      position: absolute;
      align-items: center;
      right: 0px;
      top: 0px;
      z-index: 999;
     
     
    }
    .nav .nav-btn label {
      display: inline-block;
      width: 80px;
      height: 80px;
      padding: 25px;
      margin: 5px 5px;
      margin-bottom: 20px;
      border-radius: 50%;
    }
    .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
      background-color:  var(--primaryColor);  }
    .nav .nav-btn label span {
      display: block;
      width: 30px;
      height: 12px;
      border-top: 2px solid #eee;
    }
    .nav .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color:  var(--blue2);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 90px;
      left: 0px;
      z-index: 999;
    }
    .nav .nav-links a {
      display: flex;
      width: 100%;
    }
    .nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
section{
    position: relative;
    z-index: 1;
}
  footer {
    background-color: var(--blue2);
    padding: 0.25rem;
    color: var(--white);
    text-align: center;
    text-shadow: 1px 1px 1px #808080;
  
}
.last {
    position: fixed;
    bottom: 0%;
    width: 100%;
}
.main {
	background-color:#eaf6fb;
    position: fixed;
    top:50%;
}

h1{
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
    color: #755d6d;
    text-transform: uppercase;
}

.game.svelte-e8erxb.svelte-e8erxb{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:400px;
    height:400px;
	display:flex;
	flex-wrap:wrap;
}
	.game.svelte-e8erxb>div.svelte-e8erxb{
		width:10%;
		height:10%;
		text-align:center;
		line-height:40px;
		border:1px solid #111;
		box-sizing:border-box;
		cursor:pointer;
		position:relative;
	}
		.game.svelte-e8erxb>div.bomb.svelte-e8erxb:before{
			content:"";
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			width:20px;
			height:20px;
			background:#111;
			border-radius:50%;
		}
			
	.game.svelte-e8erxb>div.revealed.svelte-e8erxb{
				background:#fffdd0}



@media screen and (max-width:700px) {


h1{
    top: 86%;
    left: 50%;
    font-size:25px ;
}

.game.svelte-e8erxb.svelte-e8erxb{
	top:50%;
	left:50%;
	width:300px;
	height:300px;
}
	.game.svelte-e8erxb>div.svelte-e8erxb{
		width:10%;
		height:10%;
		line-height:30px;
		
	}
		.game.svelte-e8erxb>div.bomb.svelte-e8erxb:before{
			content:"";
			position:absolute;
			top:50%;
			left:50%;
			width:20px;
			height:20px;
		}
			

}

