@import url('https://fonts.googleapis.com/css2?family=Pavanam&family=Roboto:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family: "Pavanam", sans-serif;
}
:root{
  --darkblue:#012060;
  --blue:#00ccfe;
  --white:#fff;
  --black:#000;
  --grey:#cccccc;
}
.nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    top: 0;
    height: 40px;
    padding: 20px;
    background-color: black;
    object-fit: cover;
    z-index: 1;

}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: 20%;
}

.container{
  width: 200px;
  white-space: nowrap;
  position: relative;
  padding-left: 30px;
}

.container .icon{
  position: absolute;
  top: 10%;
  margin-top: 1px;
  z-index: 1;
  color: #a6a6a6;
  margin-left: 100px;
  float: right;
  right: 0;
}

.container input#search{
  width: 200px;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  border-bottom: solid #404040 3px;
 /* margin-right: 50px;*/
}
 .container input#search:focus, .container input#search:active{
    border-bottom: solid var(--blue) 3px;
    outline:none;
  }
#item li  {
    list-style: none;
    padding: 5px;
}
#item li a {
    font-family: "Pavanam";
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    text-shadow: 0.1px 0.1px 0.1px var(--white);
    text-transform: uppercase;
    color: var(--white);
    padding: 5px;
}
#item li a:hover {
    color: var(--blue);
    cursor: pointer;
}
#item li a img{
    width: 200px;
}
#mobile_img {
  display: none;
}
.mobile_home {
  display: none;
}
.sidebar {
  background-color: rgba(220, 220, 220, 0.1);
  position: fixed;
  left: 10;
  width: 250px;
  height: 100%;
  /*height: calc(100% - 9%)*/;
  transition: 0.5s;
  transition-property: left;
  z-index: 1;
  overflow-y: auto;
  top: 0;
  font-size: 15px;
  text-align: justify;
}
.sidebar .home {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  left: 40px;
  padding-top: 30px;
  color: var(--white);
  font-size:20px;
  text-decoration: none;
}

.sidebar .menu {
  margin-top: 100px;
  padding: 15px;
}
.sidebar .menu .item{
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 5px 10px;
  /*line-height: 20px;*/
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  font-size: 16px;
  font-weight: bold;
}

.sidebar .menu .item a h4{
  color: var(--blue);
  text-decoration: none;
}

.sidebar .menu .item ol {
  color: var(--black);
  padding-left: 14px;
}

.sidebar .menu .item ol li a{
  color: var(--black);
  text-decoration: none;
}

.sidebar .menu .item ol li a:hover,
.sidebar .menu .item ol li:hover{
  color: var(--blue);
}
.sidebar  .menu .item a h4 span .dropdown{
  position: absolute;
  right: 20px;
  font-size: 20px;
  /*margin: 20px;*/
  transition: 0.3s ease;
  color: var(--blue);
}

.sidebar .menu .item .sub-menu{
  /*background: rgba(255, 255, 255, 0.1);*/
  display: none;
}
/*.sidebar .menu .item .sub-menu a{
  padding-left: 10px;
}*/
.rotate{
  transform: rotate(90deg);
}


label #sidebar_btn{
  z-index: 2;
  color: #fff;
  position: absolute;
  cursor: pointer;
  left: 150px;
  width: 45px;
  height: 45px;
  margin: 10px 0;
  transition: 0.5s;
  transition-property: color;
  padding-top: 5px;
}

#check:checked ~ .sidebar{
  left: -100px;
  background-color: transparent;
}
#check:checked ~.sidebar .home{
  display: none;
}
#check:checked ~ .sidebar h4 {
  display: none;
}

#check:checked ~ .sidebar a {
  display: none;
}

#check:checked ~ .sidebar .menu .item .sub-menu ol li {
  display: none;
}
#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 0;
  width: 100%;
}

.content{
  background:var(--grey);
  width: auto;
  padding-left: 300px;
  height: auto;
  position: relative;
  z-index: 0;
  margin: 0;
  font-family: "Pavanam", sans-serif;
  display: flex;
  flex-direction: column;
}


#check:checked ~ .content{
  margin-left: 0px;
  padding-left: 60px;
}

#check{
  display: none;
}
#themeSwitch{
  display: none;
}

.theme-switch__label {
  padding: 15px;
  margin: 0;
  transition: background-color 200ms ease-in-out;
  width:30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: transparent;
  position: fixed;
  top: 70px;
  right: 0.7px;
}
.theme-switch__label img{
  width: 35px;
  height: 35px;
}

.theme-switch__input:checked ~ .content,
.theme-switch__input:checked ~ .content .card p,
.theme-switch__input:checked ~ .content .card .sub-menu .sub-item,
.theme-switch__input:checked ~ .sidebar,
.theme-switch__input:checked ~ .sidebar .menu ol
{
  background: var(--black);
}
.theme-switch__input:checked ~ .content .card p,
.theme-switch__input:checked ~ .content .card .sub-btn h2 span,
.theme-switch__input:checked ~ .content .card .sub-btn h3 span,
.theme-switch__input:checked ~ .content .menu .sub-menu .sub-item h3,
.theme-switch__input:checked ~ .sidebar ol li,
.theme-switch__input:checked ~ .sidebar ol li a
 {
  color: var(--white);
}

.content .card {
  width:auto;
   padding-right: 28px;
   padding-top: 15px;
   margin: 0;
}
.content  .card .indent {
  text-indent: 50px;
  padding-right: 28px;
}
.content .card p{
  background: var(--grey);
  font-size: 18px;
  font-weight: medium;
  text-align: justify-all;
  line-height: 30px;
  padding: 18px 0px 0px;
  text-indent: 25px;
}
 .content .card .sub-menu .sub-item{
  background: var(--grey);
 }
.content .card img {
  padding: 20px;
  max-width: 100%;
  line-height: 10px;
}
#orange {
  font-size: 22px;
  color: #ffae19;
  font-weight: bolder;
  text-shadow: 1.5px 1px 1px #d2d2d2;
  font-style: italic;
/*  line-height: 30px;*/
}
 .content .menu .sub-btn  h3 span,.content .menu .sub-menu .sub-item h3{
  color: var(--darkblue);
}

  .content .menu .sub-btn a h2 span .dropdown{
  position: absolute;
  padding-left: 10px;
  transition: 0.3s ease;
}

.content  .menu  .sub-menu{
  background: rgba(255, 255, 255, 0.1);
  display: none;
}


#real {
 color:var(--black);
 margin: 0;
 text-shadow: 1px 1px 1px #000;
 text-transform:uppercase;
 line-height: 0%;
}
#refl {
  color:var(--black);
  text-shadow: 1px 1px 1px #000;
  text-transform:uppercase;
  -moz-transform: scaleY(-1);
       -o-transform: scaleY(-1);
       -webkit-transform: scaleY(-1);
       transform: scaleY(-1);
  -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(0, 0, 0, 0.4)));
}

.sub-btn {
  display:inline-block;
} 

.
/* Responsive CSS */
@media screen and (max-width: 1285px){
#item{
  margin-left: 20%;
}
.container{
  width: 150px;
}

.container input#search{
  width: 150px;
 
}

#item li a img{
    width:180px;
}

.theme-switch__label {
  padding: 15px;
 
  width:30px;
  height: 30px;
  top: 70px;
  right: 0.7px;
}
.theme-switch__label img{
  width: 33px;
  height: 33px;
}

.content .card {
  width:auto;
  padding-right: 25px;
  /* padding-top: 35px;
   margin: 0;*/
} 
.content .card .sub-btn h2 span {
  font-size: 20px;
}
.content .card .sub-btn h3 span {
  font-size: 18px;
}
.content  .card .indent {
  text-indent: 40px;
  padding-right: 28px;
}
.content .card p{
  font-size: 15px;

  line-height: 15px;
}
/*.content .card img {
    padding-left: 15px;
    width: 300px;
    height: 250px;
}*/
.left {
  padding-right: 15px;
}
#orange {
  font-size: 20px;
  line-height: 35px;
}

}
@media screen and (max-width: 1220px){
#item{
  margin-left: 24%;
}
.container{
  width: 140px;
}

.container input#search{
  width: 140px;
 
}
#item li a {
    font-size: 0.8rem;
   
}

#item li a img{
    width:150px;
}
.theme-switch__label {
  padding: 13px;
 
  width:25px;
  height: 25px;
  top: 70px;
  right: 0.7px;
}
.theme-switch__label img{
  width: 25px;
  height: 25px;
}

 
.content .card .sub-btn h2 span {
  font-size: 18px;
}
.content .card .sub-btn h3 span,.content .menu .sub-menu .sub-item{
	line-height: 0%;
}
.content .card .sub-btn h3 span,.content .menu .sub-menu .sub-item h3 {
  font-size: 15px;
}
.content  .card .indent {
  text-indent: 30px;
  padding-right: 25px;
}
.content .card p{
  font-size: 13px;
  text-align: justify;
  line-height: 30px;
}
/*.content .card img {
    padding-left: 10px;
    width: 200px;
    height: 150px;
}*/
.left {
  padding-right: 13px;
}
#orange {
  font-size: 20px;
  line-height: 30px;
}

}
@media screen and (max-width: 1160px){

.container{
  width: 120px;
}

.container input#search{
  width: 120px;
 
}
#item li a {
    font-size: 0.6rem;
   
}

#item li a img{
    width:130px;
}
.theme-switch__label {
  padding: 13px;
 
  width:25px;
  height: 25px;
  top: 70px;
  right: 0.7px;
}
.theme-switch__label img{
  width: 25px;
  height: 25px;
}
 
.content .card .sub-btn h2 span {
  font-size: 16px;
}
.content .card .sub-btn h3 span,.content .menu .sub-menu .sub-item h3 {
  font-size: 14px;
}
.content  .card .indent {
  text-indent: 25px;
  padding-right: 25px;
}
.content .card p{
  font-size: 13px;

  line-height: 25px;
}
/*.content .card img {
    padding-left: 10px;
    width: 200px;
    height: 150px;
}*/

#orange {
  font-size: 18px;
  line-height: 25px;
}
#item li a img{
    width:120px;
}


}
@media screen and (max-width: 980px){

.container{
  display: none;
}
#item li a {
    font-size: 0.6rem;
   
}

#item li a img{
    width:130px;
}
#orange {
  font-size: 16px;
  line-height: 25px;
}
#item li a img{
    width:120px;
}
#hide {
	display: none;
}
}

@media screen and (max-width: 800px){
#item{
  margin-left: 28%;
}
.container{
  display: none;
}
#item li a {
    font-size: 0.5rem;
   
}

#item li a img{
    width:120px;
}
#hide {
	display: none;
}

}

@media screen and (max-width: 750px){
.container{
  display: none;
}
#item li a {
    display: none;
   
}
.sidebar{
  display:none;
  } 
  .content {
    padding-left: 60px;
  }
  .mobile_home {
  display: flex;
  float: left;
  cursor: pointer;
  left: 40px;
  color: var(--white);
  font-size:20px;
  text-decoration: none;

  }
#mobile_img {
  display: flex;
  float: right;
  right: 1px;
  width: 180px;
}
#hide {
	display: none;
}
}
