@import url('https://fonts.googleapis.com/css2?family=Pavanam&family=Roboto:wght@700&display=swap');
*{
    margin:0;
    padding:0;/*
    box-sizing: border-box;*/
    font-family: "Pavanam", sans-serif;
}
.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   /* width: 100%;
    height: 70px;*/
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
    /*padding-right: 20px;*/
    padding: 20px;
    background-color: black;
    object-fit: cover;
    z-index: 0;

}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    float: right;
    margin-left: 20%;
}
#item a img{
    width:200px;
}
.container-1{
  width: 200px;
  white-space: nowrap;
  position: relative;
  padding-left: 30px;
}

.container-1 .icon{
  position: absolute;
  top: 10%;
  margin-top: 1px;
  z-index: 1;
  color: #a6a6a6;
  margin-left: 100px;
  float: right;
  right: 0;
}

.container-1 input#search{
  width: 200px;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  border-bottom: solid #404040 3px;
 /* margin-right: 50px;*/
}
 .container-1 input#search:focus, .container-1 input#search:active{
    border-bottom: solid #00ccfe 3px;
    outline:none;
  }
#item li  {
    list-style: none;
    padding: 5px;
    padding-right: 5px;
}
#item li a {
    font-family: "Pavanam";
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
}
#item li a:hover {
    color: #00ccfe;
    cursor: pointer;
}
.sidebar {
  background-color: rgba(220,220,220,0.1);
  position: fixed;
  left: 20;
  width: 250px;
  /*height: 100%;*/
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  z-index: 0;
  overflow-y: auto;
  top: 0;
}
.sidebar .home {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  left: 0;
  padding-top: 25px;
  color: #fff;
  font-size:20px;
  text-decoration: none;
}


.sidebar h4{
  color: #00ccfe;
  margin-top: 100px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.sidebar a{
  color: #000;
  display: block;
  width: 100%;
  line-height: 30px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  color: #00ccfe;
}

label #sidebar_btn{
  z-index: 2;
  color: #fff;
  position: absolute;
  cursor: pointer;
  left: 150px;
  width: 45px;
  height: 45px;
  margin: 8px 0;
  transition: 0.5s;
  transition-property: color;
  padding-top: 5px;
}



#check:checked ~ .sidebar{
  left: -100px;
  background-color: transparent;
}
#check:checked ~.sidebar .home{
  display: none;
}
#check:checked ~ .sidebar h4 span{
  display: none;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
display: none;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: url(Video.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /*transition: 0.5s;*/
  overflow: hidden;
}

#check:checked ~ .content{
  margin-left: 0;
}

#check{
  display: none;
}
.mobile_nav{
  display: none;
}

.video-player{
  margin-top: 60px;
  width: 50%;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%,-50%);
 /* display: none;*/
}
.video:focus {
  outline: none;
}

#check:checked ~ .video-player{
  left:50%;
}
